@use '../base/variables' as v;
@use '../base/fonts' as f;
.graphemes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    margin: 0 auto;
    &__title{
        font-size: f.$font-size-large;
        font-family: 'Satoshi', sans-serif;
        padding: 2.5rem 2rem;
        background-color: v.$vert;
        border-radius: 5px;
        width: fit-content;
        margin: 5rem 0 5rem 2rem;
        color: v.$blanc;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        cursor: pointer;
    }

    .list{
        margin-left: 5rem;
    }
    .grapheme{

        &__elements{
            display: flex;
            gap:3rem;
            justify-content: center;
            align-items: center;
        }

        &__fonts{
            border-radius: 5px;
        }
        &__item{
            width: 100px;
            font-size: 2.1rem;
            padding: 0.7rem 2rem;
            display: flex;
            justify-content:center ;
            align-items: center;
        }
    }

    &__next{
        color: v.$blanc;
        font-size: 2.3rem;
        display: flex;
        align-items: center;
        gap: 3px;
        font-family: 'Satoshi', sans-serif;
        border-radius: 5px;
        padding: 2.5rem 2rem;
        background-color: v.$vert;
        width: fit-content;
        align-self: flex-end;
        margin: 0 5rem 2rem 0;
        a{
            color: v.$blanc 
        }
        img{
        width: 25px;
        }
    }


}