{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Changement du mot de passe
{% endblock %}

{% block main %}
<div class="content-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-key me-2"></i>Changer le mot de passe
    </button>
    {{ form_end(form) }}
</div>
{% endblock %}

