@font-face {
  font-family: 'Cursivfont';
  src: url('../../assets/fonts/BelleAllureGS-Fin.otf') format('opentype');
}

@font-face {
  font-family: 'Cursivfontupp';
  src: url('../../assets/fonts/BelleAllureGS-Fin.otf') format('opentype');
}

$font-size-small: 2.4rem;
$font-size-medium: 3rem;
$font-size-large: 3.5rem;
$font-size-extralarge: 4.5rem;
$font-size-button-start: 2.5rem;
