.form-container {
  background-color: white;
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .form__title {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
  }

  .form__submit {
    padding: 10px 16px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #111;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
    transform 0.1s ease;
    margin: 0 auto;

    &:hover {
      background-color: #222;
    }

    &:disabled {
      background-color: #9ca3af;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;

    &--inline {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .form__submit,
      .form__mode-libre {
        margin: 0;
      }
    }
  }

  .form__label {
    font-size: 18px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .form__mode-libre {
    padding: 10px 16px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    background-color: #eeeeee;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
    transform 0.1s ease;
    margin: 0 auto;

    &:hover {
      background-color: #e9e9e9;
    }
  }

  .form__input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &:focus {
      border-color: #d1d5db;
      box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
    }

    &:focus-within {
      border-color: #d1d5db;
      box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
    }
  }
}

.input-password {
  border: 1px solid #d1d5db;
  margin-top: 8px;
}