@use "../base/variables" as v;

.input-password {
  display: flex;
  gap: 1rem;
}

.input-password__inner {
  background-color: none;
  outline: none;
  border: none;
  width: 100%;
}

.input-password__toggle {
  cursor: pointer;
  font-size: 2.4rem;
}

.input__error {
  margin-top: 0.5rem;
  color: v.$rouge;
  font-size: 80%;
  font-weight: 600;
}
