@use "../base/variables" as v;
@use "../base/fonts" as f;
@use "sass:color";

// Définition des couleurs
$exercise-colors: (
  red: #ff5733,
  green: #33ff57,
  blue: #3357ff,
  pink: #ff33a1,
);

.sidebar-container {
  flex: 1;
  width: fit-content;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(auto-fill, 45px);
  grid-auto-columns: 45px;
  grid-auto-flow: column;
  max-height: 70svh;
  gap: 1rem;

  /* FORCE le conteneur à coller aux colonnes */
  width: min-content;
  justify-self: start; /* Empêche l'étirement si le parent est un Grid */
  align-self: start; /* Empêche l'étirement si le parent est un Flex */

  /* Pour éviter que le gap final ne crée un vide à droite */
  padding-right: 0;

  @media (max-width: 1366px) {
    gap: 0.7rem;
  }
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: color.scale(v.$gris, $lightness: 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1366px) {
    width: 35px;
    height: 35px;
    margin: 6px 0;
  }

  &--active {
    box-shadow: 0 0 0 3px v.$kepel;
    background-color: v.$blanc-max;
  }
}

.circle-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
